In [13]:
import json
import os
import pandas as pd

Remove incomplete experiments (`ok.txt` file not present)

In [6]:
res_dir = "./results"

for dataset in os.listdir(res_dir):
    res_data_dir = os.path.join(res_dir, dataset)
    for job_id in os.listdir(res_data_dir):
        job_dir = os.path.join(res_data_dir, job_id)
        ok_file = os.path.join(job_dir, "ok.txt")
        if not os.path.exists(ok_file):
            print(f"Removing {job_dir}")
            os.system(f"rm -rf {job_dir}")

Gather results

In [25]:
results = []

res_dir = "./results"

for dataset in os.listdir(res_dir):
    res_data_dir = os.path.join(res_dir, dataset)
    for job_id in os.listdir(res_data_dir):
        job_dir = os.path.join(res_data_dir, job_id)
        ok_file = os.path.join(job_dir, "ok.txt")
        if not os.path.exists(ok_file):
            continue
        args = json.load(open(os.path.join(job_dir, "args.json")))
        metrics = json.load(open(os.path.join(job_dir, "metrics.json")))
        results.append({**args, **metrics})

results = pd.DataFrame.from_records(results, index="job_id")

In [27]:
results

,model_name,embed_size,use_graph,use_hgraph,first_last_avg,seed,batch_size,max_sent_len,epochs,weight_decay,...,scheduler,use_rgcn,use_gat,class_weight,num_classes_adv,num_classes,accuracy,precision,recall,f1
job_id,,,,,,,,,,,,,,,,,,,,,
20250708T172451,roberta-base,768,True,0,1,1,64,150,30,0.01,...,0,False,False,"[1, 1]",3,2,0.750231,0.755456,0.752972,0.749969
20250708T174458,roberta-base,768,0,0,1,1,64,150,30,0.01,...,0,False,True,"[1, 1]",3,2,0.748844,0.750575,0.750380,0.748839